{% extends '::base.html.twig' %}

{% block title "Crenga" %}

{% block javascripts %}
	{% javascripts '@SitiowebDisplayProductBundle/Resources/public/js/*' %}
		 <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'@SitiowebDisplayProductBundle/Resources/public/css/*' 
		 output='css/global.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

