{% extends 'SitiowebDisplayProductBundle::layout.html.twig' %}

{% block content %}
    <div class="row" id="buttonBar">
        <a id="crawlTwenga" href="{{ path('crawler_twenga') }}" class="pull-right btn btn-primary">
            Crawl Twenga
        </a>

        {% if productList is not empty %}
            <a href="{{ path('crawler_reset') }}" class="pull-right btn btn-danger" onclick="return confirm('This will delete all entities. Do you confirm ?');">
                Clear results
            </a>
        {% endif %}
    </div>

    <div class="row" id="progressContainer">
        <div class="offset3 span2">
            Progress status : 
        </div>

        <div class="span4">
            <progress id="progressBar" value="0" max="32"></progress>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><a href="{{ path('homepage', { 'order' : 'id'} ) }}">Id</a>
                    <th><a href="{{ path('homepage', { 'order' : 'uniqId'} ) }}">UniqId</a>
                    <th><a href="{{ path('homepage', { 'order' : 'name'} ) }}">Name</a>
                    <th><a href="{{ path('homepage', { 'order' : 'uri'} ) }}">Uri</a>
                    <th><a href="{{ path('homepage', { 'order' : 'price'} ) }}">Price</a>
                    <th><a href="{{ path('homepage', { 'order' : 'quantity'} ) }}">Stock</a>
                    <th><a href="{{ path('homepage', { 'order' : 'reliability'} ) }}">Reliability</a>
                    <th>Action
                </tr>
            </thead>
            {% for product in productList %}
                {% if product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_GUESSED") %}
                    {% set reliabilityClass = "warning" %}
                {% elseif product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_NOT_FOUND") %}
                    {% set reliabilityClass = "error" %}
                {% else %}
                    {% set reliabilityClass = null %}
                {% endif %}

                <tr {% if reliabilityClass is defined %}class="{{ reliabilityClass }}"{% endif %}>
                    <td>{{ product.id }}
                    <td>{{ product.uniqId }}
                    <td>
                        <a href="{{ product.uri }}">
                            {{ product.name|truncate(100) }}
                        </a>
                    </td>
                    <td>{{ product.uri|truncate(30) }}
                    <td>{{ product.price|number_format(2) }}
                    <td>
                        {% if product.inStock %}
                            {% if product.quantity > 0 %}
                                {{ product.quantity }}
                            {% else %}
                                Yes
                            {% endif %}
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_SURE") %}
                            <span class="badge">Sure</span>
                        {% elseif product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_GUESSED") %}
                            <span class="badge badge-warning">Guessed</span>
                        {% elseif product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_NOT_FOUND") %}
                            <span class="badge badge-important">Not found</span>
                        {% elseif product.reliability == constant("Sitioweb\\Bundle\\ProductBundle\\Entity\\Product::RELIABILITY_NOT_ON_SITE") %}
                            <span class="badge badge-info">Not on site</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('crawler_detail', {'uniqId' : product.uniqId } ) }}" class="btn btn-mini">
                            Re-crawl
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
