<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Crenga !{% endblock %}</title>

        {% stylesheets filter='less'
			'%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
			'%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
			'%kernel.root_dir%/Resources/public/less/*'
		%}
			<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
		{% endstylesheets %}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">
                            Crenga
                        </a>		
                    </div>
                </div>
            </div>
					

            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
